h3= name

.col-md-6
  .panel.panel-default.panel-dapp
    .panel-heading
      | Board Health
      small(style='float: right; font-size: 14px; line-height: 30px;')
        i.glyphicon.glyphicon.glyphicon-copyright-mark
        |  ContractAddr 
        strong 0x738fhs..
    |                     
    table.panel-body.table.table-bordered
      tbody
        tr
          td
            | Budget 
            strong 48,5000 
            |  ether
          |                                 
          td
            | Chair 
            strong N. Dodson
          |                                 
          td
            strong 5
            |  Members
          |                                 
          td
            strong 120
            |  Proposals Tabled
          |                                 
          td
            strong 88
            |  Won
          |                                 
          td
            strong 42
            |  Lost
  |                 
  .panel.panel-default.panel-dapp
    .panel-heading
      i.glyphicon.glyphicon-check
      |  Proposals
    table.table.table-bordered
      thead
        tr
          td #ID
          td Name
          td Type
          td By
          td Value
          td Votes
          td Actions
      |                         
      tbody
        each prop, iterativeIndex in proposals.slice().reverse()
          -var index = proposals.length - iterativeIndex
          tr
            td= index
            td= prop.name
            td= prop.type
            td= prop.by
            td= prop.value
            td= prop.votes
            td
              case prop.state
                
                when 'vote'
                  button.btn.btn-default.btn-primary(type='button')
                    | Vote
                    i.glyphicon.glyphicon-ok

                when 'won'
                  button.btn.btn-default.btn-success(type='button')
                    | Won 
                    i.glyphicon.glyphicon-flash


.col-md-6
  .panel.panel-default.panel-dapp
    .panel-heading
      i.glyphicon.glyphicon-file
      |  New Proposal
    |                     
    .panel-body
      form
        input.form-control(
          type='text'
          placeholder='Name'
          style='float: left; width: 48%;'
          data-key='name'
        )
        select.form-control(
          style='float: left; width: 48%; margin-left: 4%;'
          data-key='type'
        )
          option Type                       
          option Exec              
          option Add Member              
          option Remove Member
          option New Chair
                            
        br
        br

        input.form-control(
          type='text'
          placeholder='Value'
          style='margin-top: 15px;'
          data-key='value'
        )

        hr

        button.btn.btn-default.btn-primary(
          type='button'
          onclick='window.createProposal(APP_STATE.boards.#{key})'
        ) Table Proposal
  |                 
  .panel.panel-default.panel-dapp
    .panel-heading
      i.glyphicon.glyphicon-user
      |  Board Members 
      small(style='float: right; font-size: 14px; line-height: 30px;')
        i.glyphicon.glyphicon-registration-mark
        |  NameReg 
        strong 0x983478..
    table.table.table-bordered
      thead
        tr
          td #
          td Name
          td Holdings
      tbody
        each member, index in members
          tr
            td= index+1                                
            td
              .dapp-identicon.dapp-identicon-default.dapp-small(href='')                               
              span=member.name
            td= member.holdings
